src/main/resources/TEC_SincronizarContactos_ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : TEC_SincronizarContactos_ws
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/TEC_SincronizarContactos_ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/TEC_SincronizarContactos_ws">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/TEC_SincronizarContactos_ws">
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="Wave"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="objRequest">
    <xsd:sequence>
     <xsd:element name="strApellidoMaterno" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strCelular" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strCodPersona" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strDomicilio" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strEmail" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strEstadoCivil" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strFecAceptaLey" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strFecNac" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strGenero" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strLastName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strLeadSource" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strNumDocumento" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strOficina" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strOwnerId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strPrimerNombre" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strRecordTypeId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strSede" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strSegundoNombre" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strTelefonoCasa" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strTipoDocumento" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strTipoPersona" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strTipoOperacion" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strEmailActualizador" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="objResponse">
    <xsd:sequence>
     <xsd:element name="blnResultado" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="strIdContacto" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="strMensajeError" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
    <xsd:complexContent>
     <xsd:extension base="tns:location">
      <xsd:sequence>
       <xsd:element name="city" type="xsd:string"/>
       <xsd:element name="country" type="xsd:string"/>
       <xsd:element name="countryCode" type="xsd:string"/>
       <xsd:element name="geocodeAccuracy" type="xsd:string"/>
       <xsd:element name="postalCode" type="xsd:string"/>
       <xsd:element name="state" type="xsd:string"/>
       <xsd:element name="stateCode" type="xsd:string"/>
       <xsd:element name="street" type="xsd:string"/>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="location">
    <xsd:sequence>
     <xsd:element name="latitude" type="xsd:double"/>
     <xsd:element name="longitude" type="xsd:double"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="sincronizarContactos">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="infoContacto" type="tns:objRequest" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="sincronizarContactosResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:objResponse" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="sincronizarContactosRequest">
  <part element="tns:sincronizarContactos" name="parameters"/>
 </message>
 <message name="sincronizarContactosResponse">
  <part element="tns:sincronizarContactosResponse" name="parameters"/>
 </message>
 <portType name="TEC_SincronizarContactos_wsPortType">
  <operation name="sincronizarContactos">
   <input message="tns:sincronizarContactosRequest"/>
   <output message="tns:sincronizarContactosResponse"/>
  </operation>
 </portType>
 <binding name="TEC_SincronizarContactos_wsBinding" type="tns:TEC_SincronizarContactos_wsPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="sincronizarContactos">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="TEC_SincronizarContactos_wsService">
  <documentation/>
  <port binding="tns:TEC_SincronizarContactos_wsBinding" name="TEC_SincronizarContactos_ws">
   <!--
   <soap:address location="https://cs13.salesforce.com/services/Soap/class/TEC_SincronizarContactos_ws"/>
-->
   <!-- -->
   <soap:address location="https://na40.salesforce.com/services/Soap/class/TEC_SincronizarContactos_ws"/>

  </port>
 </service>
</definitions>